body {
    background-color:lightgray;
}

.coverter-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30rem;
    align-items: center;
    margin: 40vh auto;
    background-color:lavender;
    padding-bottom: 1.5rem;  
}

#convSelect {
    flex-basis: 77.6%;
}

#inputType {
    margin: 0.2rem;
    padding: 0 0.15rem;
}

#resultType {
    margin: 0.2rem;
    padding: 0 0.15rem;
}

#equals {
    margin-right: 0.5rem;
}

#input {
    margin: 0.2rem;
}

#result {
    margin: 0.2rem;
}

#swapButton {
    margin: 0.2rem;
}






